{% load office_tag %}
<!-- <a href="/office/daly_pdf/" class="btn btn-primary">Download Pdf</a> -->
<div class="text-center">
    <div><h5>आजची जमा </h5></div>
    
    <div class="dropdown">
        <a class="btn btn-primary dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">Download Pdf</a>
        
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/office/daly_pdf/">All</a></li>
            {% for t in account_types %}
                <li><a class="dropdown-item" href="/pdf/account_type_daly_collection_pdf/{{t.id}}">{{t.name}}</a></li>
            {% endfor %}
        </ul>
    </div>
    
    
</div>

<br>







<style>
    .collection-table {
        padding: 1px;
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 1px;
        background-color: black;
    }
    .collection-table > div {
        background-color: white;
        padding: 8px;
    }
    .header-collection {
        font-weight: bold;
        background-color: #dfffdb !important;
    }
</style>


<div class="container">
<div class="collection-table">
    <div class="header-collection">कर्मचारी</div>
    <div class="header-collection">रक्कम</div>
    {% for o in office_employee %}
        <div>
            <div>{{ o.name }}</div>
            <div>
                {% for t in account_types %}
                    <div style="display: grid;grid-template-columns: 1fr 1fr;">
                        <div>{{t.name}} <b class="" style="font-size: 14px;font-weight: 500;">{% account_type_daly_collection_count o.id t.id %}</b></div>
                        <div>{% account_type_daly_collection_total_amount o.id t.id %} </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="text-success"><b>{{ o.credit_amount }}</b></div>

    {% endfor %}
    <div style="background-color: #dfffdb;"><b>एकूण</b></div>
    <div style="background-color: #dfffdb;"><b>{{todays_collection}}</b></div>

</div>
</div>
