<style>
    .menu{
        display: flex;
        width: 100%;
        overflow: scroll;
        gap: 10px;
    }
</style>
<div class="menu">
    <a  href="/office/office_home/" class="my-1 {% if request.path == '/office/office_home/' %}btn btn-warning{% else %}btn btn-primary{% endif %}">Home</a>
    <a  href="/office/collection/" class="collection my-1 {% if request.path == '/office/collection/' %}btn btn-warning{% else %}btn btn-primary{% endif %}">जमा</a>
    <a  href="/office/account_holder/" class="my-1 {% if request.path == '/office/account_holder/' %}btn btn-warning{% else %}btn btn-primary{% endif %}">खातेदार</a>
    <a  href="/office/employee/" class="my-1 {% if request.path == '/office/employee/' %}btn btn-warning{% else %}btn btn-primary{% endif %}">कर्मचारी</a>
    <a  href="/office/account_type/" class="my-1 {% if request.path == '/office/account_type/' %}btn btn-warning{% else %}btn btn-primary{% endif %}">खाते प्रकार</a>
    <a  href="/office/report/" class="report my-1 {% if request.path == '/office/report/' %}btn btn-warning{% else %}btn btn-primary{% endif %}">Report</a>
    <a href="/logout/" class="btn btn-danger my-1">Logout</a>
</div>